
.l-clip{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    position: absolute;
    height: 45%;
    width: 45%;
    bottom: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/wolf-back.jpg");

} 

